body{
  overflow-x: hidden;
}
.contact {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .splash {
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0%;
    right: -8%;
  }
}
  
form {
  box-shadow: 5px 5px 20px;
  min-height: 60vh;
  width: 60vw;
  background: white;
  color: #777474;
  border-radius: 2rem;
  padding: 3rem 5rem;
  display: flex;
  position: relative;
}

.title {
  font-size: 2.5rem;
  color: #6391e8;
}
.description{
  font-size: 2rem;
}
.contact-right,
.contact-left {
  flex: 1;
}


.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: none;
  outline: none;
  color: #777474;
  font-size: 1.5rem;
}

.input-container {
  position: relative;
}

.placeholder {
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding: 0.3rem 0rem;
  font-size: 2rem;
  opacity: 0.6;
  transform-origin: left;
}

.line-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  opacity: 0.8;
}

.checkbox-label {
  font-size: 0.7rem;
}

.promo-container {
  position: relative;
  display: flex;
}

button {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 2rem;
  background: #6190e8;
  color: white;
  border-radius: 0.2rem;
  border-style: none;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  align-self: flex-start;
  &:hover{
    background:#4c84ec;
  }
}

#character{
  position: absolute;
  transform: scale(0.7) translate(0%,36%);
  bottom: 0;
  left: 0;  
  transform-origin: bottom;
}

.submitted{
  position: absolute;
  left: 50%;
  top: 50%;
  color: #777474;
  font-size: 1rem;
  pointer-events: none;
  text-align: center;
  transform: translate(-50%,-50%);
  opacity: 0;
}

@media screen and (max-width: 754px) {

  form{
    transform: translateY(-18%);
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    padding: 3rem;
    button{
      width: 100%;
    }
    .contact-left{
      flex: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 20vh;
      width: 100%;
      text-align: center;
      .title{
        font-size: 2.5rem;
      }
    }
    .contact-right{
      height: 50vh;
    }
    .line-svg{
      display: block;
      width: 100%;
    }
  }
  #character{
      transform: scale(0.4) translate(0%,36%);
  }
}
@media screen and (max-width: 754px) {

  form{
      width: 90vw;
      height: 70vh;
      flex-direction: column;
      padding:3rem;
  }
  .line-svg{
      width: 100%;
  }
  #character{
      transform: scale(0.4) translate(0%,36%);
  }
}