.github {
  margin: auto;
  padding: 3rem;
  padding-bottom: 10rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 2rem;
  }
  #git-text {
    font-size: 2rem;
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #github {
    margin-top: 0.5rem;
    height: 3rem;
    width: 3rem;
  }
}

.web-dev {
  margin: auto;
  padding: 3rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  .box {
    text-align: center;
  }
  .web-text {
    width: 100%;
  }
  .travelly {
    order: 1;
    flex: 1 1 20rem;
  }
  .gallery {
    order: 2;
    flex: 1 1 20rem;
  }
  .toDo {
    order: 3;
    flex: 1 1 20rem;
  }
  h2 {
    text-align: center;
    padding: 2rem;
    text-decoration: underline;
  }
  h3 {
    padding: 2rem;
  }
  p {
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  img {
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 2px;
  }
  #ToDo {
    border-radius: 5px;
    height: 27.3rem;
    object-fit: cover;
  }
}
.software-dev {
  margin: auto;
  padding: 3rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .box {
    text-align: center;
  }
  .travelly {
    order: 1;
    align-self: center;
  }
  .gallery {
    order: 2;
    align-content: center;
  }
  .toDo {
    order: 3;
    align-content: center;
  }
  h2 {
    padding: 2rem;
    text-decoration: underline;
  }
  h3 {
    padding: 2rem;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
  img {
    object-fit: cover;
    max-width: 30rem;
    max-height: 30rem;
    border-radius: 2px;
  }
}
