.github {
  width: 100%;
  @include flex(center, center, row);
  padding: 2rem 0rem;
  margin: auto;
  h2 {
    font-size: 2rem;
  }
  #github {
    margin-top: 0.5rem;
    height: 3rem;
    width: 3rem;
  }
}

.web-dev {
  width: 90%;
  @include flex(center, center, row);
  padding: 2rem 0rem;
  margin: auto;
  display: grid;
  h2 {
    width: 100%;
    text-decoration: underline;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
}
.software-dev {
  width: 90%;
  @include flex(center, center, row);
  padding: 2rem 0rem;
  margin: auto;
  display: grid;
  h2 {
    width: 100%;
    text-decoration: underline;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
}
