.github {
  margin: auto;
  padding: 3rem;
  padding-bottom: 10rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 2rem;
  }
  #git-text {
    font-size: 2rem;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #github {
    margin-top: 0.5rem;
    height: 3rem;
    width: 3rem;
  }
}

.web-dev {
  margin: auto;
  padding: 3rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  .box {
    text-align: center;
  }
  #text-help {
    font-size: 1.5rem;
    color: $background-color;
  }
  .web-text {
    width: 100%;
  }
  .travelly {
    order: 1;
    flex: 1 1 20rem;
  }
  .gallery {
    order: 7;
    flex: 1 1 20rem;
  }
  .toDo {
    order: 9;
    flex: 1 1 20rem;
    img {
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .iphone {
    order: 5;
    flex: 1 1 20rem;
    img {
      object-position: center;
      border: 1px solid lightgrey;
      object-fit: cover;
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .fashion {
    order: 6;
    flex: 1 1 20rem;
    img {
      object-position: center;
      border: 1px solid lightgrey;
      object-fit: cover;
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .inferno {
    order: 2;
    flex: 1 1 20rem;
    img {
      object-position: center;
      border: 1px solid lightgrey;
      object-fit: cover;
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .capture {
    order: 3;
    flex: 1 1 20rem;
    img {
      object-position: center;
      object-fit: cover;
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .waves {
    order: 4;
    flex: 1 1 20rem;
    img {
      object-fit: cover;
      border: 1px solid lightgrey;
      object-position: center;
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .calculator {
    order: 11;
    flex: 1 1 20rem;
    img {
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .beat {
    order: 10;
    flex: 1 1 20rem;
    img {
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .photon {
    order: 6;
    flex: 1 1 20rem;
    img {
      border: 1px solid lightgrey;
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .culture {
    order: 9;
    flex: 1 1 20rem;
    img {
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  .color {
    order: 8;
    flex: 1 1 20rem;
    img {
      height: 27.8rem;
      border-radius: 1.3rem;
    }
  }
  h2 {
    text-align: center;
    padding: 2rem;
    text-decoration: underline;
  }
  h3 {
    padding: 2rem;
  }
  p {
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  img {
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 2px;
  }
  #ToDo,
  #color,
  #culture,
  #travelly,
  #gallery,
  #calc,
  #photon,
  #beat,
  #inferno,
  #capture {
    border-radius: 5px;
    height: 27.3rem;
    object-fit: cover;
  }
}
.software-dev {
  margin: auto;
  padding: 3rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .software-text {
    width: 100%;
    text-align: center;
  }
  #text-help {
    font-size: 1.5rem;
    color: $background-color;
    padding-top: 1rem;
  }
  .card-game {
    order: 1;
    margin: 1rem;
  }
  .sorting-algorithms {
    order: 2;
    margin: 1rem;
  }
  .python-gui {
    order: 3;
    margin: 1rem;
  }
  .border-div {
    border: 1.5px solid $background-color;
    border-radius: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    flex: 1 1 20rem;
  }
  #algorithm-video,
  #python-gui-video,
  #card-game-video {
    height: 25rem;
    width: 40rem;
    padding-top: 0.5rem;
    justify-content: center;
    align-content: center;
    border-radius: 1rem;
    object-fit: contain;
  }
  h2 {
    padding: 2rem;
    text-align: center;
    text-decoration: underline;
  }
  h3 {
    text-align: center;
    padding: 2rem;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
}
