$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

/* HELPERS */
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "intro";
@import "projects";
@import "contact";

@media screen and (max-width: 1200px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  svg {
    display: none;
  }
  .main-head {
    width: 100%;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
  }
  .active {
    background: none;
    color: black;
    text-decoration: underline;
    padding: 0;
    border-radius: none;
  }
  nav {
    width: 100%;
    padding: 0;
    .logo {
      @include flex(center, center, column);
      flex: 1 1 20rem;
    }
    ul {
      justify-content: space-evenly;
      align-content: center;
      width: 100%;
    }
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  .intro-images {
    text-align: center;
  }
  .intro-social {
    @include flex(center, center, row);
    a {
      margin: 2rem;
      margin-bottom: 8rem;
    }
    form {
      padding: 0rem;
      width: 100%;
    }
    footer {
      justify-content: center;
      align-items: center;
    }

    footer ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
    }
  }
  .software-dev {
    display: none;
  }
  .contact {
    width: 100%;
    .form-section {
      width: 100%;
      height: fit-content;
      margin-top: 2rem;
    }
    .contact-text {
      margin-top: 2rem;
    }
  }
}
